management:
  endpoint:
    health:
      show-details: always
  endpoints:
    web:
      exposure:
        include: "*"
  info:
    env:
      enabled: true
logging:
  level:
    root: info
    xyz:
      catuns:
        edupulse:
          engagement: debug

server.port: 8082