app:
  kafka:
    partitions: 1
    topics:
      appTopic: engagement-service-events
    replicas: 1
  open-api:
    description: @project.description@
    title: @project.name@
    version: @project.version@
spring:
  application:
    name: engagement-service
  kafka:
    producer:
      retries: 10
      acks: all
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      properties:
        delivery:
          timeout: 60000
        request:
          timeout:
            ms: 30000
        linger:
          ms: 0
        max:
          inflight:
            requests:
              per:
                connection: 5
        enable:
          idempotence: true
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS:localhost:9092}
    consumer:
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      group-id: engagement-service-group
      properties:
        spring:
          json:
            trusted:
              packages: xyz.catuns.edupulse.engagement.*
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
  profiles:
    active: dev
management:
  endpoint:
    health:
      probes:
        enabled: true
  health:
    liveness-state: true
    readiness-state: true
